@page "/RadiologyReports"
@inherits RadiologyReportsBase

<h3 style="text-align:center; color: white; background-color:black">Radiology Reports</h3>

<div class="row row-cols-2">
  <FilterButton OnFilterButtonClicked="FilterButton" />
  <table class="table-bordered table-striped table-hover">
    <thead>
      <tr>
      </tr>
      <tr class="table-primary table-th-fit" style="text-align: center; font-size:12px">
        @if (columnNames is null) {
          <th>Loading...</th>
        } else {
          foreach (var column in columnNames) {
            <th>@column</th>
          }
        }
      </tr>
    </thead>
    <tbody>
      @if (RadiologyReports is null || FilterState.Filtering) {
        <tr>
          <td colspan="@(columnNames?.Length ?? 1)">
            <div class="spinner">Looading spinner</div>
          </td>
        </tr>
      } else {
        foreach (var radiologyreport in RadiologyReports) {
          <tr class="table-td-fit" style="font-size:12px; text-align:center">
            @foreach (var property in radiologyreport.GetType().GetProperties()) {
              if (property.Name == "FileReference") {
                <td><a href="/PdfView/@radiologyreport.FileId">@property.GetValue(radiologyreport)</a></td>
              } else {
                <td>@property.GetValue(radiologyreport)</td>
              }
            }
          </tr>
        }
      }
    </tbody>
  </table>
</div>
